{% extends "layout.html" %}

{% block pageTitle %}
  Use land and property data
{% endblock %}

{% block content %}

{% include "beta-banner.html" %}

<!-- sign-in/create account links -->
<div class="govuk-body heading-nav">
  <a class="govuk-link" href="">Sign in</a>
  <a class="govuk-link" href="create-account/create-account" >Create account</a>
</div>

  <!-- breadcrumbs -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="listings">Home</a></li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Request for information</li>
    </ol>
  </div>

  <!-- full width row for title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Dataset</span>
        Request for information
      </h1>
      <p class="govuk-body-l">
        Data about how many requests for information we send to customers about their applications.
      </p>
    </div>
  </div>

  <!-- row for contents and content -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <!-- contents -->
      <div class="toc" id="contents">
        <p class="govuk-body">Contents</p>
        <ul>
          <li><a href="#datasets">The datasets</a></li>
          <li><a href="#how">How you can use the data</a></li>
          <li><a href="#access">How to get the data</a></li>
          <li><a href="#contact">Contact us</a></li>
        </ul>
      </div>
    </div> <!-- column-one-third -->

    <div class="govuk-grid-column-two-thirds">
      <h2 id="datasets" class="govuk-heading-l">
        The datasets
      </h2>
      <p class="govuk-body">
        This dataset shows the 500 customers that send the most applications to us. It shows the number and type of
        applications we receive and complete. It also shows how many requests for information we send to customers.
        Requests for information were formerly known as requisitions.
      </p>
      <p class="govuk-body">
        It includes all types of requests for information but excludes:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>telephone requests for information</li>
        <li>bankruptcy applications</li>
        <li>bulk applications</li>
      </ul>
      <p class="govuk-body">
        It does not include applications that we’ve received but not yet completed.
      </p>

      <h3 class="gogvuk-heading-m">
        Technical specification
      </h3>
      <p class="govuk-body">
        <a href="request-tech-spec" class="govuk-link">Read the technical specification for Request for information</a>
        for full details about the data and what the column headings mean.
      </p>

      <h2 id="how" class="govuk-heading-l">
        How you can use the data
      </h2>
      <p class="govuk-body">
        The data is available free of charge for use and re-use under the 
        <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a> (OGL).
      </p>
      <p class="govuk-body">
        Make sure that you understand the terms of the OGL before using the data. If you use or publish this data,
        you must add the following attribution statement:
      </p>
      <blockquote class="noquotes">
        <p class="govuk-body">
          Contains HM Land Registry data © Crown copyright and database right 2019. This data is licensed under the
          Open Government Licence v3.0.
        </p>
      </blockquote>
      <p class="govuk-body">
        You must also provide a link in the data you publish to thYou must also provide a link in the data you
        publish to this <a href="#explanation">explanation of the dataset of the dataset</a>.
      </p>


      <h3 id="explanation" class="govuk-heading-m">About requests for information</h3>
      <p class="govuk-body">
        We send requests for information if an application does not have enough information or if there are
        inconsistencies in the documentation.
      </p>
      <p class="govuk-body">
        Applications are either register update applications or register create applications.
      </p>
      <h4 class="govuk-heading-s">Register update applications</h4>
      <p class="govuk-body">
        These involve changing the details on an existing register. For example, recording the names of new owners
        of a property.
      </p>
      <h4 class="govuk-heading-s">Register create applications</h4>
      <p class="govuk-body">
        These involve creating a brand-new title. For example, a property being registered for the first time.
      </p>
      <p class="govuk-body">
        In this dataset, register create applications are broken down into:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>First registrations (FR)</li>
        <li>Transfer of part (TP)</li>
        <li>Dispositionary first lease (DFL)</li>
      </ul>
      <p class="govuk-inset-text">
        We send more requests for information about register create applications. This is because they are more
        complex. Conveyancers who send more register create applications will receive more requests for information
        than a company with a different profile of work.
      </p>

      <h3 class="govuk-heading-m">Why we send requests for information</h3>
      <p class="govuk-body">
        Sometimes, we send a request for information through no fault of the applicant or a third party.
        For example, where we:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          ask for more information under 
          <a href="http://www.legislation.gov.uk/uksi/2003/1417/article/17/made">rule 17 of the Land Registration Rules 2003</a>
        </li>
        <li>
          send a request for information in error
        </li>
      </ul>
      <p class="govuk-body">
        Sometimes, issues arise from errors and oversights by conveyancers. In other cases, third parties do not
        provide the evidence to conveyancers on time. Examples include:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>no evidence of consents by third parties</li>
        <li>name discrepancies</li>
        <li>documents not being signed or witnessed properly</li>
      </ul>

      <h2 id="access" class="govuk-heading-l">How to get the data</h2>
      <p class="govuk-body">
        This dataset covers a period of 3 months. It’s normally available to access on the 15th working day of the
        following month. 
      </p>

      <a href="request-download" role="button" class="govuk-button">
        Access the data
      </a>

      <h2 id="contact" class="govuk-heading-l">Contact us</h2>
      <p class="govuk-body">
        If you have any questions about this data, email our customer service team:
        <a href="mailto:customer.service@landregistry.gov.uk">customer.service@landregistry.gov.uk​</a>.
      </p>
    </div> <!-- column-two-thirds -->
  </div> <!-- grid-row -->

{% endblock %}
