{% extends "layout.html" %}

{% block pageTitle %}
Use land and property
{% endblock %}

{% block content %}

{% include "beta-banner.html" %}

<!-- sign-in/create account links -->
<div class="govuk-body heading-nav">
    <a class="govuk-link" href="sign-in">Sign in</a>
    <a class="govuk-link" href="create-account/create-account" >Create account</a>
</div>

<!-- back to previous page -->
<a href="#" onclick="location.href = document.referrer; return false;" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Direct Use licence</span>
            Restrictive Covenants
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
            1. Definitions and interpretation
        </h2>
        <p class="govuk-body">
            In this Licence, except where the context otherwise requires, the following terms shall have the following meanings:
        </p>
        <p class="govuk-body">
            ‘Auditor’- means the auditor appointed by Us to perform the obligations under clause 4.1 of this Licence.
        </p>
        <p class="govuk-body">
            'Information' means the Restrictive Covenant Dataset and comprises:<br>
            Unique identifier, tenure, property description, County Region, associated property description ID and
            associated property description.
        </p>
        <p class="govuk-body">
            ‘Licence’ – means this licence agreement.
        </p>
        <p class="govuk-body">
            ‘Licensor’ – means HM Land Registry (acting by the Chief Land Registrar under delegated authority
            from The Keeper of Public Records).
        </p>
        <p class="govuk-body">
            ‘Normal Business Hours’ – means 9am to 5pm on a Working Day.
        </p>
        <p class="govuk-body">
            ‘Permitted Use’ means the permitted use of the Information as defined in clause 3 of this Licence.
        </p>
        <p class="govuk-body">
            ‘Start Date’ means the date when We grant You permission to access the Information.
        </p>
        <p class="govuk-body">
            ‘We’, ‘Us’ and ‘Our’ means HM Land Registry (acting by the Chief Land Registrar under delegated
            authority from The Keeper of Public Records).
        </p>
        <p class="govuk-body">
            ‘Working Day’ – means Monday to Friday, excluding Bank Holidays in England and Wales.
        </p>
        <p class="govuk-body">
            'You' and 'Your' means the natural or legal person, or body of persons corporate or incorporate,
            acquiring rights in the Information (whether the Information is obtained directly from the Licensor
            or otherwise) under this Licence.
        </p>

        <h2 class="govuk-heading-l">
            2. Grant
        </h2>
        <ol class="govuk-list govuk-list--decimal2" start="2">
            <li>
                In consideration of You agreeing to comply with the terms of this Licence, We grant You from the
                Start Date a non-exclusive, non-transferable, revocable licence to access and use the Information
                subject to the conditions below.
            </li>
            <li>
                This Licence does not affect Your freedom under fair dealing or fair use or any other copyright or
                database right exceptions and limitations.
            </li>
            <li>
                All rights not expressly granted with respect to the Information are otherwise reserved to Us and Our licensors.
            </li>
        </ol>

        <h2 class="govuk-heading-l">
            3. Permitted Use
        </h2>
        <ol class="govuk-list govuk-list--decimal3" start="3">
            <li>
                Permitted Use of Information: Subject to the requirements of clause 3.2 and You complying with the
                other provisions of this Licence, We permit You to use the Information for:
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        personal, non-commercial use, including research; and
                    </li>
                    <li>
                        the internal administration and operation of Your business but if You use property addresses
                        in the Information You must obtain permission from Royal Mail (e-mail:
                        address.management@royalmail.com), unless you already hold a Public Sector Mapping Agreement
                        Member Licence or a One Scotland Mapping Agreement Member Licence issued by Ordnance Survey.
                    </li>
                </ol>
            </li>
            <li>
                HMLR Information Restrictions: You cannot use the Information for the following purposes:
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        to use the Information for the purpose of creating or developing any product or service
                        that is intended for sub-licensing, distribution or sale to third parties (notwithstanding
                        that the Information used may not itself actually be supplied as part of such product or service);
                    </li>
                    <li>
                        to use or incorporate the Information in any external facing products or prototypes;
                    </li>
                    <li>
                        to publish, commercially exploit, sell, license or distribute to third parties the Information
                        or any data that You have created which has benefited from, relied on or made use of the Information;
                    </li>
                    <li>
                        to use the Information for the purposes of direct marketing including but not limited to
                        contacting registered proprietors to offer goods or services or to make other offers.
                    </li>
                </ol>
            </li>
        </ol>

        <h2 class="govuk-heading-l">
            4. Your obligations
        </h2>
        <ol class="govuk-list govuk-list--decimal4" start="4">
            <li>You must:
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        if requested by Us, provide details of Your use of the Information and allow Us or Our
                        representatives to inspect Your use of the Information and records of such use. You consent to
                        Us contacting You, including but not limited to visiting Your premises or office;
                    </li>
                    <li>
                        keep full and accurate records of Your use of the Information for audit purposes and You will
                        provide Us with all reasonable assistance in the carrying out of such audit. We, Our
                        representatives or the Auditor will ensure that any information obtained in the course of the
                        audit concerning Your business is kept confidential and not used for any purpose other than the
                        proper conduct of the audit;
                    </li>
                    <li>
                        comply with data protection laws in Your use of the Information;
                    </li>
                    <li>
                        use all reasonable endeavours to provide technological and security measures to ensure that the
                        Information is physically and electronically secure from unauthorised use or access;
                    </li>
                    <li>
                        notify Us as soon as You become aware of, or suspect, any unauthorised use of the Information
                        or any infringement or other breach by You or any other third party of Ours or third party
                        intellectual property rights in the Information and to provide reasonable assistance to Us at
                        no extra cost to Us in order to pursue or deal with any such infringement or breach; and
                    </li>
                    <li>
                        let Us know in writing (by post or e-mail) of any changes to Your name, address or other
                        details relevant to this Licence.
                    </li>
                </ol>
            </li>
            <li>
                You must not:
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        copy, sell, distribute, send or make use of the Information provided for any purpose other
                        than the Permitted Use;
                    </li>
                    <li>
                        present out of date Information as being current;
                    </li>
                    <li>
                        mislead others or misrepresent Us or the Information;
                    </li>
                    <li>
                        reproduce the Land Registry logo unless it forms an integral part of the Information and You
                        are reproducing it in that context;
                    </li>
                    <li>
                        use the Land Registry Title Number or permit it to be used in any way that causes Our systems
                        (e.g. Business Gateway) or access to those to be interrupted, damaged or impaired in any way.
                    </li>
                </ol>
            </li>
            <li>
                When using or publishing Information, You will need to add the following attribution statement when
                You use the Information:
            </li>
        </ol>
        <blockquote class="govuk-body indent">
            Information produced by HM Land Registry © Crown copyright 2020.
        </blockquote>

        <h2 class="govuk-heading-l">
            5. Termination of licence
        </h2>
        <ol class="govuk-list govuk-list--decimal5" start="5">
            <li>
                We have the right at any time to end this Licence:
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        without cause by giving You not less than three calendar months’ notice in writing
                        (by post or email); or
                    </li>
                    <li>
                        immediately if You are in breach of the terms of this Licence and such breach is not, in
                        Our opinion, capable of remedy; or
                    </li>
                    <li>
                        immediately if You are in breach of the terms of this Licence and such breach is remediable
                        but You do not put this right within 14 days of our telling You in writing or by email; and/or
                    </li>
                    <li>
                        immediately in order to comply with any legal requirement (including any decision of the
                        Information Commissioner).
                    </li>
                </ol>
            </li>
            <li>
                You have the right to end this Licence at any time by giving notice to Us in writing (by post or e-mail).
            </li>
            <li>
                Ending this Licence means that Your right to use the Information terminates but does not affect Our
                rights to enforce these conditions. Upon termination of this Licence, You shall delete or destroy
                all Information, remove any reference to any Information that is embedded into any other material
                and destroy all copies and expunge the Information from any databases in your possession/control.
            </li>
            <li>
                You shall certify in writing to Us that You have complied with the requirements of clause 5.3
                of this Licence.
            </li>
        </ol>

        <h2 class="govuk-heading-l">
            6. Amendment of terms
        </h2>
        <p class="govuk-body">
            We may amend or vary any or all of these terms by giving You not less than one month’s written
            notice of the changes.
        </p>

        <h2 class="govuk-heading-l">
            7. Notices
        </h2>
        <ol class="govuk-list govuk-list--decimal7" start="7">
            <li>
                All notices to be given under this Licence shall be in writing and shall either be sent by first
                class prepaid post or electronic mail to the address of the party as provided in the request for
                the Information (or such other address as the party may provide for the purposes of this Licence)
                and shall be deemed duly served:
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        In the case of a notice sent by first class prepaid post, 2 Working Days after the date
                        of dispatch;
                    </li>
                    <li>
                        In the case of electronic mail, if sent during Normal Business Hours then at the time of
                        receipt, and if sent outside Normal Business Hours then at 9am the next following Working Day.
                    </li>
                </ol>
            </li>
        </ol>

        <h2 class="govuk-heading-l">
            8. Privacy Statement
        </h2>
        <ol class="govuk-list govuk-list--decimal8" start="8">
            <li>
                We may collect and use the information commercially available or supplied by You:
                <ol class="govuk-list govuk-list--alpha">
                    <li>to enable Us to ensure that You use the Information in an appropriate manner;</li>
                    <li>for reporting and statistical purposes;</li>
                    <li>for internal analysis on licensing, pricing, terms of use and data value;</li>
                    <li>for such purpose or use as sharing, checking and verifying information with other
                        government departments and agencies or law enforcement agencies.
                    </li>
                </ol>
                For further details of Our use of information please see Our
                <a href="https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter">
                    Personal Information Charter</a>.
            </li>
            <li>
                You acknowledge that We are bound by the Freedom of Information Act 2000 and the Environmental
                Information Regulations 2004 and that this legislation can affect what information that We may release.
            </li>
        </ol>

        <h2 class="govuk-heading-l">
            9. Non-endorsement and no partnership or agency
        </h2>
        <ol class="govuk-list govuk-list--decimal9">
            <li>
                This Licence does not grant you any right to use the Information in a way that suggests any official
                status or that We endorse You or your use of the Information.
            </li>
            <li>
                This Licence shall not constitute or imply any partnership, joint venture, agency or other
                relationship between the parties other than the contractual relationship expressly provided
                for in this Licence. Neither party to this Licence shall have, nor represent that it has, any
                authority to make any commitments on the other party’s behalf.
            </li>
        </ol>

        <h2 class="govuk-heading-l">
            10. No Warranty
        </h2>
        <ol class="govuk-list govuk-list--decimal10">
            <li>
                The Information is licensed 'as is' and We exclude all representations, warranties, obligations and
                liabilities in relation to the Information to the maximum extent permitted by law.
            </li>
            <li>
                To the maximum extent permitted by law, We are not liable for any errors or omissions in the
                Information and shall not be liable for any loss, injury or damage of any kind caused by its use.
                We do not guarantee the continued supply of the Information.
            </li>
        </ol>

        <h2 class="govuk-heading-l">
            11. Assignment
        </h2>
        <ol class="govuk-list govuk-list--decimal11">
            <li>
                You must not assign, transfer or sub-license Your rights under this Licence to any other person.
            </li>
            <li>
                We shall be entitled to assign, transfer or novate the benefits and obligations of this Licence
                or any part thereof to:
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        any government body or any other body established by the Crown or under statute; or
                    </li>
                    <li>
                        in the event of the transfer of all or any of Our activities or functions to any other
                        entity, to the entity to which Our functions have been transferred; or
                    </li>
                    <li>
                        any private sector body which substantially performs the functions of Us, provided that
                        any such assignment, transfer or novation shall not increase the burden of Your obligations
                        under this Licence.
                    </li>
                </ol>
            </li>
        </ol>
        <h2 class="govuk-heading-l">
            12. Limitation of Liability
        </h2>
        <ol class="govuk-list govuk-list--decimal12">
            <li>
                Nothing in this Licence shall limit or exclude the liability of either party to this Licence for:
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        death or personal injury caused by its negligence, or the negligence of its employees,
                        agents or subcontractors (as applicable);
                    </li>
                    <li>
                        fraud or fraudulent misrepresentation; or
                    </li>
                    <li>
                        any matter in respect of which it would be unlawful for either party to exclude or
                        restrict liability.
                    </li>
                </ol>
            </li>
            <li>
                Subject to clause 12.1:
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        We do not accept any liability for any losses incurred by You or any third party as a
                        result of Your or their reliance on the Information;
                    </li>
                    <li>
                        We will not be liable for any loss of actual or anticipated profits or savings, loss of
                        business, loss of opportunity, loss or corruption of Information, loss of contracts, or
                        for any indirect or consequential loss, whether arising from negligence or breach of
                        contract, or in any other way, even if We were notified of, or knew of the likelihood of,
                        that loss or type of loss arising; and
                    </li>
                    <li>
                        f on any occasion provision of the Information is suspended or delayed or modified in
                        order for Us to meet Our statutory obligations, no compensation or damages shall be due
                        to You but We will make reasonable endeavours to keep service disruption to a minimum.
                    </li>
                </ol>
            </li>
        </ol>

        <h2 class="govuk-heading-l">
            13. Rights of Third Parties
        </h2>
        <ol class="govuk-list govuk-list--decimal13">
            <li>
                Subject to clause 13.2, a person who is not a party to this Licence has no right as a third party
                to enforce or enjoy the benefit of any term of this Licence.
            </li>
            <li>
                The property addresses contained within the Information are processed against Ordnance Survey’s
                AddressBase Premium product, which incorporates Royal Mail’s PAF® database (Address Data). You
                acknowledge that the interest of Ordnance Survey and Royal Mail in relation to the Information
                and the parties to this Licence hereby confer upon Ordnance Survey and Royal Mail the right to
                enforce the terms of this Licence and pursue any claims pursuant to this Licence as if it was the
                Licensor.
            </li>
        </ol>

        <h2 class="govuk-heading-l">
            14. No Waiver
        </h2>
        <p class="govuk-body">
            Our failure to exercise or enforce any rights under the provisions of this Licence, shall not be deemed
            to be a waiver of such rights at any time or times thereafter.
        </p>

        <h2 class="govuk-heading-l">
            15. Severability
        </h2>
        <p class="govuk-body">
            If any of the provisions of this Licence, are invalid, illegal or unenforceable, that will not affect
            the validity, legality and enforceability of the remaining provisions of this Licence. Each of the
            paragraphs of these Licence terms operates separately. If any court or relevant authority decides that
            any of them are unlawful, the remaining paragraphs will remain in full force and effect.
        </p>

        <h2 class="govuk-heading-l">
            16. Governing Law
        </h2>
        <p class="govuk-body">
            This Licence is governed by the laws of England and Wales and each party to this Licence irrevocably
            agrees that the courts of England and Wales shall have exclusive jurisdiction to settle any dispute or
            claim arising out of or in connection with this Licence or its subject matter and formation.
        </p>

        <hr class="govuk-section-break govuk-section-break--l">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="agree-hint">

                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="agree" name="agree" type="checkbox" value="yes">
                        <label class="govuk-label govuk-checkboxes__label" for="agree">
                            I have read and agree to the terms and conditions of this licence.
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <p class="govuk-body">
            <a class="govuk-button" href="listings-signed-in">
                Continue
            </a>
        </p>
    </div> <!-- column-two-thirds -->

    <div class="govuk-grid-column-one-third">
        <div class="blue-bar-no-padding"></div>
        <p class="govuk-body">
            <a href="#" onclick="myFunction()" class="govuk-link" rel="alternate" download>
                Download this licence - 15Kb, HTML
            </a>
        </p>
    </div>
</div>


{% endblock %}
