{% extends "layout.html" %}

{% block pageTitle %}
  Use land and property data
{% endblock %}

{% block content %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Home</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">HM Land Registry</span>
        Use land and property data
      </h1>
      <p class="govuk-body-l">
        You can use this service to download large data files from HM Land Registry. It is free to download most of this
        data, but you may need to create an account and sign a licence agreement first.
      </p>

      <!-- need to have this line twice in order to view one section break? -->
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!-- NPS datasets -->
      <div class="govuk-!-padding-bottom-9">
        <h2 class="govuk-heading-l">
          <a href="nps-product" class="govuk-link">National Polygon Service</a>
        </h2>
        <dl class="govuk-body dataset-info">
          <dt>Account required:</dt>
          <dd>Yes</dd>
          <dt>Free of charge:</dt>
          <dd>No</dd>
          <dt>Update frequency:</dt>
          <dd>Monthly</dd>
          <dt>Last update:</dt>
          <dd>October</dd>
          <dt>Number of rows:</dt>
          <dd>3000000</dd>
        </dl>
        <p class="govuk-body">
          Download 3 datasets about registered land and property in England and Wales that show:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>indicative shape and position of boundaries</li>
          <li>legal interests and class of title</li>
          <li>unique property reference numbers</li>
        </ul>
        <p class="govuk-body">
          This data includes (where available) polygons, title number, estate interest, class of title, date of creation,
          date of update and Unique Property Reference Number (UPRN)
        </p>
      </div>


      <!-- Overseas companies dataset -->
      <div class="govuk-!-padding-bottom-9">
        <h2 class="govuk-heading-l">
          <a href="overseas-product" class="govuk-link">Overseas companies that own property in England and Wales</a>
        </h2>
        <dl class="govuk-body dataset-info">
          <dt>Account required:</dt>
          <dd>Yes</dd>
          <dt>Free of charge:</dt>
          <dd>Yes</dd>
          <dt>Update frequency:</dt>
          <dd>Monthly</dd>
          <dt>Last update:</dt>
          <dd>October</dd>
          <dt>Number of rows:</dt>
          <dd>3000</dd>
        </dl>
        <p class="govuk-body">
          Download data about non-UK companies that own land or property in England and Wales. The data includes (where
          available) company name, type of company, registration number, address and price paid. This dataset was
          originally called Overseas companies ownership data (OCOD).
        </p>
      </div>


      <!-- Restriction datasets -->
      <div class="govuk-!-padding-bottom-9">
        <h2 class="govuk-heading-l">
          <a href="request-product" class="govuk-link">Request for information</a>
        </h2>
        <dl class="govuk-body dataset-info">
          <dt>Account required:</dt>
          <dd>No</dd>
          <dt>Free of charge:</dt>
          <dd>Yes</dd>
          <dt>Update frequency:</dt>
          <dd>Quarterly</dd>
          <dt>Last update:</dt>
          <dd>July</dd>
          <dt>Number of rows:</dt>
          <dd>500</dd>
        </dl>
        <p class="govuk-body">
          Information on how many requests for information we send to customers about their applications.
        </p>
      </div>


      <!-- UK companies dataset -->
      <div class="govuk-!-padding-bottom-9">
        <h2 class="govuk-heading-l">
          <a href="uk-product" class="govuk-link">UK companies that own property in England and Wales</a>
        </h2>
        <dl class="govuk-body dataset-info">
          <dt>Account required:</dt>
          <dd>Yes</dd>
          <dt>Free of charge:</dt>
          <dd>Yes</dd>
          <dt>Update frequency:</dt>
          <dd>Monthly</dd>
          <dt>Last update:</dt>
          <dd>October</dd>
          <dt>Number of rows:</dt>
          <dd>2000</dd>
        </dl>
        <p class="govuk-body">
          Download data about UK companies that own land or property in England and Wales. This data includes (where
          available) company name, type of company, registration number, address and price paid. This data was originally
          called Commercial and corporate data (CCOD).
        </p>
      </div>



    </div>
  </div>

{% endblock %}
