// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you



.dataset-info dd, .dataset-info dt {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: text-top;
}
.dataset-info dt {
    width: 30%;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 5px;
}
.dataset-info dd {
    width: 60%;
}



.toc {
  font-size: 17px !important;
  margin-bottom: 30px;
  p {
    margin-bottom: 0px;
  }
  ul li {
    list-style: none;

    a {
      text-decoration: none;
      font-size: 17px !important;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  ul li::before {
    content: "— ";
    margin-left: -25px;
    padding-right: 5px;
    font-size: 14px;
  }
}



.black-outline {
  border: 2px solid #6f777b;
  padding: 30px;
  overflow: auto;
  @media (max-width: 620px) {
    padding:4%;
  }
}



blockquote {
    margin: 0 0 20px 0;
}
blockquote.noquotes {
    padding: 15px;
    background-color: #b1b4b6;
}
blockquote.noquotes p {
    margin: 0;
}



.no-bottom-border {
    border-bottom-style: hidden;
}



.heading-nav {
    margin-top: 10px;
    text-align: right;
    a {
        padding-left: 50px;
    }
}



.banner {
    margin-top: -50px;
}



.blue-bar {
    border-bottom: 4px solid #1d70b8;
    margin-bottom: 20px;
    margin-top: 20px;
}



.payment-summary {
    border: 10px solid #bfc1c3;
    padding: 15px;
    background-color: #f8f8f8;
}
.payment-summary-wrap {
    position: sticky;
    top: 30px;
}



.wide-bottom-border {
    border-bottom: 5px solid #bfc1c3;
}











.blue-box {
  background-color: #005ea5;
  padding: 30px;
  overflow: auto;
  margin-bottom: 30px;
  @media (max-width: 620px) {
    padding:4%;
  }
  h1, p, ul, span {
    color: white;
  }
   .white-link-text {
     color: #fff !important;
     font-weight: bold;
   }
   .download span {
     color:#0b0c0c !important;
    text-decoration: none !important;
   }
}


.darker-blue {
  float: left;
  margin-bottom: 0px;
  margin-right: 10px;
  background: #08477e;
  padding: 15px;
  overflow: auto;
  width: 45%;
}



.pagination {
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    vertical-align: baseline;
}

.pagination-control {
    color: #005ea5;
    text-decoration: none;
    display: block;
}

.pagination-item {
    width: 49%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-item__prev {
    float: left;
    text-align: left;

    ::before {
        background: file-url('/public/images/prev-arrow.png');
        float: left;
    }
}

.pagination-item__next {
    float: right;
    text-align: right;
    left-margin: -32px;

    ::after {
        background-image: file-url('/public/images/next-arrow.png') no-repeat;
        float: right;
    }
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.float-right {
    float: right;
}

.page-previous {
    display: flex;
    flex-direction: row;
}

.page-previous-text > a {
    text-decoration: none;
}

.pagination-title {
    font-size: 27px;
    line-height: 1.25;
}

.pagination-label {
    font-size: 16px;
    line-height: 1.25;
}