// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you



.dataset-info dd, .dataset-info dt {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: text-top;
}
.dataset-info dt {
    width: 30%;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 5px;
}
.dataset-info dd {
    width: 60%;
}



.toc {
  font-size: 17px !important;
  margin-bottom: 30px;
  p {
    margin-bottom: 0px;
  }
  ul li {
    list-style: none;
    margin-bottom: 3px;

    a {
      text-decoration: none;
      font-size: 17px !important;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  ul li::before {
    content: "— ";
    margin-left: -35px;
    padding-right: 5px;
    font-size: 14px;
  }
}

.govuk-list--decimal2 {
  counter-reset: num;

  li:before {
    content: "2." counter(num);
    counter-increment: num;
    padding-right: 11px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal3 {
  counter-reset: num;

  li:before {
    content: "3." counter(num);
    counter-increment: num;
    padding-right: 11px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal4 {
  counter-reset: num;

  li:before {
    content: "4." counter(num);
    counter-increment: num;
    padding-right: 10px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal5 {
  counter-reset: num;

  li:before {
    content: "5." counter(num);
    counter-increment: num;
    padding-right: 5px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal6 {
  counter-reset: num;

  li:before {
    content: "6." counter(num);
    counter-increment: num;
    padding-right: 5px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal7 {
  counter-reset: num;

  li:before {
    content: "7." counter(num);
    counter-increment: num;
    padding-right: 11px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal8 {
  counter-reset: num;

  li:before {
    content: "8." counter(num);
    counter-increment: num;
    padding-right: 9px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal9 {
  counter-reset: num;

  li:before {
    content: "9." counter(num);
    counter-increment: num;
    padding-right: 9px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal10 {
  counter-reset: num;

  li:before {
    content: "10." counter(num);
    counter-increment: num;
    padding-right: 11px;
  }

  text-indent: -50px;
  padding-left: 50px;
}
.govuk-list--decimal11 {
  counter-reset: num;

  li:before {
    content: "11." counter(num);
    counter-increment: num;
    padding-right: 5px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal12 {
  counter-reset: num;

  li:before {
    content: "12." counter(num);
    counter-increment: num;
    padding-right: 5px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal13 {
  counter-reset: num;

  li:before {
    content: "13." counter(num);
    counter-increment: num;
    padding-right: 5px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--decimal14 {
  counter-reset: num;

  li:before {
    content: "14." counter(num);
    counter-increment: num;
    padding-right: 5px;
  }

  text-indent: -40px;
  padding-left: 40px;
}
.govuk-list--nested14 {
  counter-reset: num;

  li:before {
    content: "14.1." counter(num);
    counter-increment: num;
    padding-right: 5px;
  }

  text-indent: -60px;
  padding-left: 60px;
}
.govuk-list--decimal15 {
  counter-reset: num;

  li:before {
    content: "15." counter(num);
    counter-increment: num;
    padding-right: 5px;
  }

  text-indent: -40px;
  padding-left: 40px;
}

.govuk-list--nested {
  counter-reset: num;

  li:before {
    content: "4.12." counter(num);
    counter-increment: num;
    padding-right: 5px;
  }

  text-indent: -60px;
  padding-left: 60px;
}

.govuk-list--dash {
  li:before {
    content: "-";
    padding-right: 5px;
  }

  text-indent: -15px;
  padding-left: 15px;
}

.govuk-list--alpha {
  counter-reset: letter;

  li:before {
    content: counter(letter, lower-alpha) ") ";
    counter-increment: letter;
    padding-right: 8px;
  }

  text-indent: -25px;
  padding-left: 25px;
}
.govuk-list--alpha-dot {
  counter-reset: letter;

  li:before {
    content: counter(letter, lower-alpha) ". ";
    counter-increment: letter;
    padding-right: 5px;
  }

  text-indent: -25px;
  padding-left: 25px;
}
.govuk-list--bullet-no-alpha {
  counter-reset: disc;

  li:before {
    content: counter(disc, disc);
    counter-increment: disc;
    padding-right: 15px;
  }

  taxt-indent: -25px;
  padding-left: 25px;
}
.govuk-list--alpha-cap {
  counter-reset: letter;

  li:before {
    content: counter(letter, upper-alpha) ") ";
    counter-increment: letter;
    padding-right: 8px;
  }

  text-indent: -33px;
  padding-left: 33px;
}

.govuk-list--roman {
  counter-reset: letter;

  li:before {
    content: counter(letter, lower-roman) ") ";
    counter-increment: letter;
    padding-right: 5px;
  }

  text-indent: -25px;
  padding-left: 25px;
}

.govuk-button--blue {
  background-color: #5694ca;
  box-shadow: 0 2px 0 #1d70b8;
}
.govuk-button--blue:hover {
  background-color: #1d70b8;
}


.govuk-checkboxes--inline {
  display: inline;
}




.black-outline {
  border: 2px solid #6f777b;
  padding: 30px;
  overflow: auto;
  @media (max-width: 620px) {
    padding:4%;
  }
}



blockquote {
    margin: 0 0 20px 0;
}
blockquote.noquotes {
    padding: 15px;
    background-color: #b1b4b6;
}
blockquote.noquotes p {
    margin: 0;
}
blockquote.indent {
    margin-left: 40px;
    padding: 20px;
    background-color: #b1b4b6;
}




.no-bottom-border {
    border-bottom-style: hidden;
}



.heading-nav {
    margin-top: 10px;
    text-align: right;
    a {
        padding-left: 50px;
    }
}



.banner {
    margin-top: -50px;
}



.blue-bar {
    border-bottom: 4px solid #1d70b8;
    margin-bottom: 20px;
    margin-top: 20px;
}
.blue-bar-no-padding {
    border-bottom: 4px solid #1d70b8;
    margin-bottom: 20px;
}



.payment-summary {
    border: 10px solid #bfc1c3;
    padding: 15px;
    background-color: #f8f8f8;
}
.payment-summary-wrap {
    position: sticky;
    top: 30px;
}



.read-only-textarea {
    color: #626a6e;
    border: 2px solid #bfc1c3;
    background-color: #f8f8f8;
    overflow: auto;
}



.scroll-wrap {
    height: 600px;
    overflow: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
}

.wide-bottom-border {
    border-bottom: 5px solid #8f8f8f;
}
.cell-shade {
    background-color: #d9d9d9;
    padding-left: 10px;
}










.blue-box {
  background-color: #005ea5;
  padding: 30px;
  overflow: auto;
  margin-bottom: 30px;
  @media (max-width: 620px) {
    padding:4%;
  }
  h1, p, ul, span {
    color: white;
  }
   .white-link-text {
     color: #fff !important;
     font-weight: bold;
   }
   .download span {
     color:#0b0c0c !important;
    text-decoration: none !important;
   }
}


.darker-blue {
  float: left;
  margin-bottom: 0px;
  margin-right: 10px;
  background: #08477e;
  padding: 15px;
  overflow: auto;
  width: 45%;
}



.pagination {
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    vertical-align: baseline;
}

.pagination-control {
    color: #005ea5;
    text-decoration: none;
    display: block;
}

.pagination-item {
    width: 49%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-item__prev {
    float: left;
    text-align: left;

    ::before {
        background: file-url('/public/images/prev-arrow.png');
        float: left;
    }
}

.pagination-item__next {
    float: right;
    text-align: right;
    left-margin: -32px;

    ::after {
        background-image: file-url('/public/images/next-arrow.png') no-repeat;
        float: right;
    }
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.float-right {
    float: right;
}

.page-previous {
    display: flex;
    flex-direction: row;
}

.page-previous-text > a {
    text-decoration: none;
}

.pagination-title {
    font-size: 27px;
    line-height: 1.25;
}

.pagination-label {
    font-size: 16px;
    line-height: 1.25;
}