{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}
{% include "beta-banner.html" %}

<!-- back to previous page -->
<a href="#" onclick="location.href = document.referrer; return false;" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <h2 class="govuk-heading-l">
      Your details
    </h2>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Name</th>
        <td class="govuk-table__cell">Miss Amy Jones</td>
        <td class="govuk-table__cell"><a href="your-details" class="govuk-link">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Contact details</th>
        <td class="govuk-table__cell">Amy@123.com<br>01234 567 890</td>
        <td class="govuk-table__cell"><a href="your-details" class="govuk-link">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Address</th>
        <td class="govuk-table__cell">104  Clasper Way<br>Heysham<br>Lancashire<br>LA3 1EE</td>
        <td class="govuk-table__cell"><a href="uk-address" class="govuk-link">Change</a></td>
      </tr>
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-l">
      Research
    </h2>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Take part in research</th>
        <td class="govuk-table__cell">No</td>
        <td class="govuk-table__cell"><a href="research" class="govuk-link">Change</a></td>
      </tr>
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-m">
      Terms of use
    </h2>
    <div class="govuk-checkboxes govuk-!-padding-bottom-9">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="terms-of-use" name="terms-of-use" type="checkbox" value="yes">
        <label class="govuk-label govuk-checkboxes__label" for="terms-of-use">
          I have read and agreed to the <a href="../../terms-of-use" class="govuk-link">terms of use</a>.
        </label>
      </div>
    </div>

    <h2 class="govuk-heading-m">
      Checking your identity
    </h2>
    <p class="govuk-body">
      On the next page, we'll ask you to enter your credit or debit card details. We ask for your card details
      so we can check your identity.
    </p>
    <p class="govuk-body">
      You will not be charged and no payment will be taken.
    </p>

    <a href="card-details" role="button" class="govuk-button">
      Continue
    </a>
  </div>
</div>



{% endblock %}