{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}
{% include "beta-banner.html" %}

<!-- signed in details -->
<div class="govuk-body heading-nav">
  <p class="govuk-body">Logged in as: BK123PQ</p>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/personal-research" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Amend research preferences
            </h1>
          </legend>
          <p class="govuk-body">
            Would the user like to take part in research?
          </p>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="personal-research" name="personal-research" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="personal-research">
               Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="personal-research-2" name="personal-research" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="personal-research-2">
                No
              </label>
            </div>
          </div>

          <hr class="govuk-section-break govuk-section-break--l">

          <p class="govuk-body">
              How should we contact the user?
            <span class="govuk-hint">
              Select all that apply.
            </span>
          </p>

          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-type" name="contact-type" type="checkbox" value="telephone">
              <label class="govuk-label govuk-checkboxes__label" for="contact-type">
                Telephone
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-type-2" name="contact-type" type="checkbox" value="email">
              <label class="govuk-label govuk-checkboxes__label" for="contact-type-2">
                Email
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-type-3" name="contact-type" type="checkbox" value="post">
              <label class="govuk-label govuk-checkboxes__label" for="contact-type-3">
                Post
              </label>
            </div>
        </fieldset>
      </div>

      <a href="dst-application" role="button" class="govuk-button">
        Save
      </a>
    </form>

  </div>
</div>



{% endblock %}