{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}

{% include "beta-banner.html" %}

<!-- signed in details -->
<div class="govuk-body heading-nav">
    <p class="govuk-body">Logged in as: BK123PQ</p>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            Worklist
        </h1>

        <!-- Tab list -->
        <div class="govuk-tabs" data-module="govuk-tabs">
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#applications">
                        Applications
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#search">
                        Search
                    </a>
                </li>
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#reports">
                        Reports
                    </a>
                </li>
            </ul> <!-- tabs list -->

            <!-- My datasets tab -->
            <section class="govuk-tabs__panel" id="applications">
               <!-- <h2 class="govuk-heading-m">
                    Applications
                </h2> -->

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col" width="11%">Date</th>
                            <th class="govuk-table__header" scope="col" width="25%">Name</th>
                            <th class="govuk-table__header" scope="col" width="25%">Organisation</th>
                            <th class="govuk-table__header" scope="col" width="10%">Status</th>
                            <th class="govuk-table__header" scope="col" width="14%">Details</th>
                            <th class="govuk-table__header" scope="col" width="15%">Locked status</th>
                        </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">05/03/2019</td>
                            <td class="govuk-table__cell">Miss Amy Melissa Poppy Amelie Jones</td>
                            <td class="govuk-table__cell">A. & T. Jones Property Company Limited</td>
                            <td class="govuk-table__cell">Pending</td>
                            <td class="govuk-table__cell"><a href="account-info">View details</a></td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">15/03/2019</td>
                            <td class="govuk-table__cell">Mr Tom Jones</td>
                            <td class="govuk-table__cell">A. & T. Jones Property Company Limited</td>
                            <td class="govuk-table__cell">Pending</td>
                            <td class="govuk-table__cell"><a href="account-info">View details</a></td>
                            <td class="govuk-table__cell">Locked to you</td>
                        </tr>
                    </tbody>
                </table>
            </section> <!-- applications tab -->

            <section class="govuk-tabs__panel" id="search">
                <p class="govuk-body">
                    <a href="">View last 50 applications</a>
                </p>
                <p class="govuk-body">
                    or
                </p>
                <p class="govuk-body">
                    To search all applications and accounts, enter text in any box.
                </p>

                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="first-name">
                            First name
                        </label>
                        <input class="govuk-input" id="first-name" name="first-name" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="last-name">
                            Last name
                        </label>
                        <input class="govuk-input" id="last-name" name="last-name" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="org-name">
                            Organisation name
                        </label>
                        <input class="govuk-input" id="org-name" name="org-name" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="email">
                            Email
                        </label>
                        <input class="govuk-input" id="email" name="email" type="text">
                    </div>
                </fieldset>
                <p class="govuk-body">
                    <a class="govuk-button" href="">
                        Search
                    </a>
                </p>

                <hr class="govuk-section-break govuk-section-break--l">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" width="10%">Date</th>
                        <th class="govuk-table__header" scope="col" width="18%">Type</th>
                        <th class="govuk-table__header" scope="col" width="24%">Name</th>
                        <th class="govuk-table__header" scope="col" width="24%">Organisation</th>
                        <th class="govuk-table__header" scope="col" width="10%">Status</th>
                        <th class="govuk-table__header" scope="col" width="14%">Detail</th>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">05/03/2019</td>
                        <td class="govuk-table__cell">UK Organisation</td>
                        <td class="govuk-table__cell">Miss Amy Melissa Poppy Amelie Jones</td>
                        <td class="govuk-table__cell">A. & T. Jones Property Company Limited</td>
                        <td class="govuk-table__cell">Pending</td>
                        <td class="govuk-table__cell"><a href="account-info">View details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">15/03/2019</td>
                        <td class="govuk-table__cell">UK Organisation</td>
                        <td class="govuk-table__cell">Mr Tom Jones</td>
                        <td class="govuk-table__cell">A. & T. Jones Property Company Limited</td>
                        <td class="govuk-table__cell">Pending</td>
                        <td class="govuk-table__cell"><a href="account-info">View details</a></td>
                    </tr>
                    </tbody>
                </table>
            </section> <!-- search tab -->



            <section class="govuk-tabs__panel" id="reports">
                <form action="/report-choice" method="post">
                    <div class="govuk-panel govuk-panel--confirmation">
                        <div class="govuk-panel__body" style="font-size: 24px;">
                            <strong>Your report has been created and saved</strong>
                        </div>
                    </div>

                    <hr class="govuk-section-break govuk-section-break--m">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-fieldset__heading">
                                    I want a report about
                                </h2>
                            </legend>
                            <span class="govuk-hint">
                                Select one option
                            </span>

                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="user-type" name="user-type" type="radio" value="all-users">
                                    <label class="govuk-label govuk-radios__label" for="user-type">
                                        all users
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="user-type2" name="user-type" type="radio" value="personal">
                                    <label class="govuk-label govuk-radios__label" for="user-type2">
                                        personal users
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="user-type3" name="user-type" type="radio" value="uk-companies">
                                    <label class="govuk-label govuk-radios__label" for="user-type3">
                                        UK companies
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="user-type4" name="user-type" type="radio" value="overseas">
                                    <label class="govuk-label govuk-radios__label" for="user-type4">
                                        overseas companies
                                    </label>
                                </div>
                                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="user-type5" name="user-type" type="radio" value="specific" data-aria-controls="conditional-how-contacted-conditional">
                                        <label class="govuk-label govuk-radios__label" for="user-type5">
                                            a specific company
                                        </label>
                                    </div>
                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="company-name">
                                                Company name
                                            </label>
                                            <input class="govuk-input govuk-!-width-one-half" id="company-name" name="user-type" type="email" spellcheck="false">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="govuk-section-break govuk-section-break--m">
                            <h3 class="govuk-heading-s">
                                to find out
                                <span class="govuk-hint">
                                    Select one option
                                </span>
                            </h3>

                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="report-choice" name="report-choice" type="radio" value="report1" data-aria-controls="conditional-report-choice-conditional">
                                    <label class="govuk-label govuk-radios__label" for="report-choice">
                                        who has access to ...
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-report-choice-conditional">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <h3 class="govuk-heading-s">
                                                Free datasets
                                            </h3>
                                            <div class="govuk-checkboxes">
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="CCOD" name="free-data" type="checkbox" value="CCOD">
                                                    <label class="govuk-label govuk-checkboxes__label" for="CCOD">
                                                        UK Companies that own property in England and Wales
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="OCOD" name="free-data" type="checkbox" value="OCOD">
                                                    <label class="govuk-label govuk-checkboxes__label" for="OCOD">
                                                        Overseas companies that own property in England and Wales
                                                    </label>
                                                </div>
                                            </div>

                                            <hr class="govuk-section-break govuk-section-break--l">
                                            <h4 class="govuk-heading-s">
                                                National Polygon Service
                                            </h4>
                                            <div class="govuk-checkboxes">
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="nps" name="free-data" type="checkbox" value="nps-sample">
                                                    <label class="govuk-label govuk-checkboxes__label" for="nps">
                                                        Sample
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="nps" name="free-data" type="checkbox" value="nps-full">
                                                    <label class="govuk-label govuk-checkboxes__label" for="nps">
                                                        Full dataset
                                                    </label>
                                                </div>
                                            </div>

                                            <hr class="govuk-section-break govuk-section-break--m">
                                            <h4 class="govuk-heading-s">
                                                Restricted datasets
                                            </h4>
                                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                <input class="govuk-checkboxes__input" id="dad" name="free-data" type="checkbox" value="dad">
                                                <label class="govuk-label govuk-checkboxes__label" for="dad">
                                                    Daily Application Data
                                                </label>
                                            </div>
                                        </div>

                                        <div class="govuk-grid-column-one-half">
                                            <h4 class="govuk-heading-s">
                                                Registered Leases
                                            </h4>
                                            <div class="govuk-checkboxes">
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="reg-lease" name="free-data" type="checkbox" value="reg-lease-du">
                                                    <label class="govuk-label govuk-checkboxes__label" for="reg-lease">
                                                        Direct Use
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="reg-lease" name="free-data" type="checkbox" value="reg-lease-exp">
                                                    <label class="govuk-label govuk-checkboxes__label" for="reg-lease">
                                                        Exploration
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="reg-lease" name="free-data" type="checkbox" value="reg-lease-com">
                                                    <label class="govuk-label govuk-checkboxes__label" for="reg-lease">
                                                        Commercial
                                                    </label>
                                                </div>
                                            </div>

                                            <hr class="govuk-section-break govuk-section-break--m">
                                            <h4 class="govuk-heading-s">
                                                Restrictive Covenants
                                            </h4>
                                            <div class="govuk-checkboxes">
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="res-cov" name="free-data" type="checkbox" value="res-cov-du">
                                                    <label class="govuk-label govuk-checkboxes__label" for="res-cov">
                                                        Direct Use
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="res-cov" name="free-data" type="checkbox" value="res-cov-exp">
                                                    <label class="govuk-label govuk-checkboxes__label" for="res-cov">
                                                        Exploration
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                    <input class="govuk-checkboxes__input" id="res-cov" name="free-data" type="checkbox" value="res-cov-com">
                                                    <label class="govuk-label govuk-checkboxes__label" for="res-cov">
                                                        Commercial
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="report-choice2" name="report-choice" type="radio" value="report2" data-aria-controls="conditional-report-choice2-conditional">
                                        <label class="govuk-label govuk-radios__label" for="report-choice2">
                                            who created an account between ...
                                        </label>
                                    </div>
                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-report-choice2-conditional">
                                        <fieldset class="govuk-fieldset" aria-describedby="conditional-report-choice2-conditional-hint">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                <h2 class="govuk-fieldset__heading">
                                                    Date range
                                                </h2>
                                            </legend>
                                            <span id="passport-issued-hint" class="govuk-hint">
                                                For example, 12 11 2019
                                            </span>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="date-from">
                                                        Date from
                                                    </label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="date-from" name="date-from" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="date-to">
                                                        Date to
                                                    </label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="date-to" name="date-to" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="report-choice3" name="report-choice" type="radio" value="contactable">
                                    <label class="govuk-label govuk-radios__label" for="report-choice3">
                                        who I can contact
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="report-choice4" name="report-choice" type="radio" value="closed">
                                    <label class="govuk-label govuk-radios__label" for="report-choice4">
                                        who has a closed account
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        Create report
                    </button>
                </form>
            </section> <!-- reports tab -->

        </div> <!-- tabs -->
    </div>
</div>

{% endblock %}