{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}
{% include "beta-banner.html" %}

<!-- signed in details -->
<div class="govuk-body heading-nav">
  <p class="govuk-body">Logged in as: BK123PQ</p>
</div>

<!-- back to previous page -->
<a href="main-page#reports" class="govuk-back-link">Back to reports</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Report created 11 July 2020</span>
      Authorised users in A. & T. Jones Property
    </h1>
    <p class="govuk-body-l">
      Total number of users: <strong>2</strong>
    </p>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Open report in excel
    </button>
   <!-- <p class="govuk-body">
      <a class="govuk-link" href="">View report in excel</a>
    </p> -->

    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" width="19%">Name</th>
        <th class="govuk-table__header" scope="col" width="23%">Organisation</th>
        <th class="govuk-table__header" scope="col" width="23%">Email</th>
        <th class="govuk-table__header" scope="col" width="20%">Dataset name</th>
        <th class="govuk-table__header" scope="col" width="15%">Date licence agreed</th>

      </tr>
      </thead>

      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="border-bottom: none;">Miss Amy Jones</td>
        <td class="govuk-table__cell" style="border-bottom: none;">A. & T. Jones Property</td>
        <td class="govuk-table__cell" style="border-bottom: none;">ajones@outlook.com</td>
        <td class="govuk-table__cell" style="border-bottom: none;">NPS (sample)</td>
        <td class="govuk-table__cell" style="border-bottom: none;">12 September 2019</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">NPS</td>
        <td class="govuk-table__cell">01 October 2019</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mr Tom Jones</td>
        <td class="govuk-table__cell">A. & T. Jones Property</td>
        <td class="govuk-table__cell">tom.jones@jonesproperty.co.uk</td>
        <td class="govuk-table__cell">Registered Leases (commercial)</td>
        <td class="govuk-table__cell">31 March 2020</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>



{% endblock %}