{% extends "layout.html" %}

{% block pageTitle %}
  Use land and property data
{% endblock %}

{% block content %}

{% include "beta-banner.html" %}

<!-- sign-in/create account links -->
<div class="govuk-body heading-nav">
  <a class="govuk-link" href="sign-in">Sign in</a>
  <a class="govuk-link" href="create-account/create-account" >Create account</a>
</div>

<!-- back link -->
<a href="#" onclick="location.href = document.referrer; return false;" class="govuk-back-link">Back</a>

<!-- full width row for page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Technical specification</span>
      Request for information (requisition) data
    </h1>
  </div>
</div>

<!-- row for contents and content -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <!-- contents -->
    <div class="toc" id="contents">
      <p>Contents</p>
      <ul>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#scope">Specification scope</a></li>
        <li><a href="#content">Data content and structure</a></li>
        <li><a href="#quality">Data quality</a></li>
        <li><a href="capture">Data capture information</a></li>
        <li><a href="#maintenance">Data maintenance</a></li>
        <li><a href="#product">Data product delivery</a></li>
        <li><a href="#contact">Contact information</a></li>
      </ul>
    </div>
  </div> <!-- column-one-third -->

  <div class="govuk-grid-column-two-thirds">
    <h2 id="overview" class="govuk-heading-l">Overview</h2>
    <p class="govuk-body">
      Request for information (requisition) data is published quarterly and shows the 500 customers that sent the most
      applications to HM Land Registry in that quarter.
    </p>
    <p class="govuk-body">
      The data shows how many:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>substantive applications we receive and complete</li>
      <li>requests for information we send to our customers</li>
    </ul>

    <h2 class="govuk-heading-l" id="scope">
      Specification scope
    </h2>
    <p class="govuk-body">
      We send requests for information if an application does not have enough information or if there are
      inconsistencies in the documentation. 
    </p>
    <p class="govuk-body">
      The applications we receive are either to update the register or to create new titles. 
    </p>
    <p class="govuk-body">
      Sometimes, we send a request for information through no fault of the applicant or a third party. For example, where we: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>ask for more information under rule 17 of the Land Registration Rules 2003</li>
      <li>send a request for information in error</li>
    </ul>
    <p class="govuk-body">
      Sometimes, issues arise from errors and oversights by conveyancers. In other cases, third parties do not provide 
      the evidence to conveyancers on time. Examples include: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>no evidence of consents by third parties</li>
      <li>name discrepancies</li>
      <li>documents not being signed or witnessed properly</li>
    </ul>

    <h3 class="govuk-heading-m">
      Inclusions and exclusions
    </h3>
    <p class="govuk-body">
      The data includes all types of requests for information but excludes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>telephone requests for information</li>
      <li>bankruptcy applications</li>
      <li>bulk applications</li>
      <li>applications that we've received but not yet completed</li>
    </ul>

    <h3 class="govuk-heading-m">
      Relationship to other HMLR data products
    </h3>
    <p class="govuk-body">
      This dataset is not linked to any other datasets from HM Land Registry.
    </p>

    <h2 class="govuk-heading-l" id="content">
      Data content and structure
    </h2>
    <h3 class="govuk-heading-m">
      Table 1 - class diagram
    </h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Request for information</th>
      </tr>
      </thead>

      <tbody class="govuk-table__body">
      <tr><td class="govuk-table__cell">Customer Name</td></tr>
      <tr><td class="govuk-table__cell">First Registration intake</td></tr>
      <tr><td class="govuk-table__cell">Transfer of Part intake</td></tr>
      <tr><td class="govuk-table__cell">Dispositionary First Lease intake</td></tr>
      <tr><td class="govuk-table__cell">Register Update intake</td></tr>
      <tr><td class="govuk-table__cell">Total intake</td></tr>
      <tr><td class="govuk-table__cell">First Registration output</td></tr>
      <tr><td class="govuk-table__cell">Transfer of Part output</td></tr>
      <tr><td class="govuk-table__cell">Dispositionary First Lease output</td></tr>
      <tr><td class="govuk-table__cell">Register Update output</td></tr>
      <tr><td class="govuk-table__cell">Total output</td></tr>
      <tr><td class="govuk-table__cell">First Registration Request for Information</td></tr>
      <tr><td class="govuk-table__cell">Transfer of Part Request for Information</td></tr>
      <tr><td class="govuk-table__cell">Dispositionary First Lease Request for Information</td></tr>
      <tr><td class="govuk-table__cell">Register Update Request for Information</td></tr>
      <tr><td class="govuk-table__cell">Total Request for Information</td></tr>
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--l">
    <h3 class="govuk-heading-m">
      Table 2 - Request for Information (requisitions) table structure
    </h3>

    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr>
        <th scope="col" class="govuk-table__header">Field name</th>
        <th scope="col" class="govuk-table__header">Data type</th>
        <th scope="col" class="govuk-table__header">Mandatory</th>
        <th scope="col" class="govuk-table__header">Description</th>
      </tr>
      </thead>

      <tbody class="govuk-table__body">
      <tr>
        <td class="govuk-table__cell">Customer Name</td>
        <td class="govuk-table__cell">Character</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          A group of credit accounts (key numbers) for the same customer under a single name.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">First Registration intake</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all First Registration applications received by HMLR for a customer group during the
          previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Transfer of Part intake</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all Transfer of Part applications received by HMLR for a customer group during the
          previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Dispositionary First Lease intake</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all Dispositionary First Lease applications received by HMLR for a customer group
          during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Register Uptake intake</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all Register Uptake applications received by HMLR for a customer group during the
          previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Total intake</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all applications received by HMLR for a customer group during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">First Registration output</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all First Registration applications completed or cancelled by HMLR for a customer group
          during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Transfer of Part output</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all Transfer of Part applications completed or cancelled by HMLR for a customer
          group during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Dispositionary First Lease output</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all Dispositionary First Lease applications completed or cancelled by HMLR for a
          customer group during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Register Uptake output</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all Register Uptake applications completed or cancelled by HMLR for a customer
          group during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Total output</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Combined volume of all applications completed or cancelled by HMLR for a customer group during the
          previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">First Registration Request for Information</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Total number of requests for information sent by HMLR for a customer group relating to completed First Registration
          application types during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Transfer of Part Request for Information</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Total number of requests for information sent by HMLR for a customer group relating to completed Transfer of Part
          application types during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Dispositionary First Lease Request for Information</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Total number of requests for information sent by HMLR for a customer group relating to completed Dispositionary
          First Lease application types during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Register Uptake Request for Information</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Total number of requests for information sent by HMLR for a customer group relating to completed Register Update
          application types during the previous financial quarter.
        </td>
      </tr>
      <tr>
        <td class="govuk-table__cell">Total Request for Information</td>
        <td class="govuk-table__cell">Numerical</td>
        <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell">
          Total number of requests for information sent by HMLR for a customer group relating to all completed application
          types during the previous financial quarter.
        </td>
      </tr>
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--l">
    <h2 id="quality" class="govuk-heading-l">
      Data quality
    </h2>
    <p class="govuk-body">
      We try to make sure that our public data is accurate, but cannot guarantee that it is free from errors or fit
      for your purpose or use.
    </p>

    <h2 id="capture" class="govuk-heading-l">
      Data capture information
    </h2>
    <p class="govuk-body">
      This data is created from applications made to HM Land Registry. Most applications are received electronically
      and added automatically to our systems. Requests for information are recorded against applications throughout
      the registration process.
    </p>

    <h2 id="maintenance" class="govuk-heading-l">
      Data maintenance
    </h2>
    <p class="govuk-body">
      The published data is a snapshot of the previous calendar quarter. We will not update this data. We'll publish
      a new dataset after the end of the next calendar quarter.
    </p>

    <h2 id="product" class="govuk-heading-l">
      Data product delivery
    </h2>
    <h3 class="govuk-heading-m">
      Access to the dataset
    </h3>
    <p class="govuk-body">
      The dataset is available as a .CSV and .ODS file on GOV.UK and is released under the 
      <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">
        Open Government Licence</a> (OGL).
    </p>

    <h3 class="govuk-heading-m">
      File structure
    </h3>
    <p class="govuk-body">
      The data is ordered alphabetically (ascending) by customer name.
      The data in each file will:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use a comma to separate each field: ‘,’ (ASCII 44)</li>
      <li>enclose all fields within double-quotes: ”” (ASCII 34)</li>
      <li>send blank fields without a character between double quotes: ””</li>
      <li>format dates as DD-MM-YYYY HH:MM:SS</li>
      <li>use UTF-8 encoding (the way characters are coded for websites)</li>
      <li>remove line separation the data</li>
      <li>have the column heading name as the first row</li>
    </ul>

    <h3 class="govuk-heading-m">
      File name
    </h3>
    <p class="govuk-body">
      The file will be structured as follows:
    </p>
    <p class="govuk-body">
      RI_Top_500_Customers _<1>_<2>.csv
    </p>
    <p class="govuk-body">
      <1> Year
    </p>
    <p class="govuk-body">
      <2> Quarter
    </p>
    <p class="govuk-body">
      Example file name structure for January 2019: RI_Top_500_Customers _2018_Q4.csv
    </p>

    <h2 id="contact" class="govuk-heading-l">
      Contact information
    </h2>
    <p class="govuk-body">
      If you have any feedback or questions about this data, email
      <a href="mailto:customer.service@landregistry.gov.uk">customer.service@landregistry.gov.uk​</a>.
    </p>
  </div> <!-- two-thirds -->
</div> <!-- grid-row -->


{% endblock %}
