{% extends "layout.html" %}

{% block pageTitle %}
  Use land and property data
{% endblock %}

{% block content %}

{% include "beta-banner.html" %}

<!-- sign-in/create account links -->
<div class="govuk-body heading-nav">
  <a class="govuk-link" href="sign-in">Sign in</a>
  <a class="govuk-link" href="create-account/create-account" >Create account</a>
</div>

<!-- breadcrumbs -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="listings">Home</a></li>
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="inspire-product">Inspire data</a></li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Download dataset</li>
    </ol>
  </div>

  <!-- full width row for title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Download</span>
        INSPIRE Index Polygons spatial data
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l">
        Data showing the indicative extent and position of registered freehold properties in England and Wales.
      </p>
      <p class="govuk-body">
        This dataset was published on 14 May 2020. You can access the data until we update the files. New files
        are published on the first Sunday of every month.
      </p>
      <p class="govuk-body">
        You can:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://data.gov.uk/data/map-preview?e=1.74944&n=60.8433&s=49.9553&url=http%3A%2F%2Finspire.landregistry.gov.uk%2Finspire%2Fows%3FService%3DWMS%26Request%3DGetcapabilities&w=-8.17167">
            view all polygons on a map</a>
        </li>
        <li>
          <a href="#download">download polygons by local authority</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- horizontal line to break intro paragraph and datasets -->
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <!-- contents -->
      <div class="toc" id="contents">
        <p>Contents</p>
        <ul>
          <li><a href="#a">A</a></li>
          <li><a href="#b">B</a></li>
          <li><a href="#c">C</a></li>
          <li><a href="#d">D</a></li>
          <li><a href="#e">E</a></li>
          <li><a href="#f">F</a></li>
          <li><a href="#g">G</a></li>
          <li><a href="#h">H</a></li>
        </ul>
      </div>
    </div> <!-- column-one-third -->

    <div class="govuk-grid-column-two-thirds">
      <h2 id="download" class="govuk-heading-l">
        Download polygons
      </h2>
      <p class="govuk-body">
        The files are listed by local authority.
      </p>
      <p class="govuk-body">
        You’ll need a Geographical Information System (GIS) to view the downloaded INSPIRE Index Polygons.
      </p>
      <p class="govuk-body">
        By downloading these datasets, you are agreeing to the
        <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">
          OGL conditions of use</a>.
      </p>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-m">
                A
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <th width="80%"></th>
                <th width="20%"></th>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Abertawe - Swansea</td>
                <td class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Arun</td>
                <td class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              <tr>
                <td scope="row" class="govuk-table__cell">Ashford</td>
                <td scope="row" class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- section 'A' -->

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-m">
                B
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <table class="govuk-table">
              <thead class="govuk-table__head">
              <th width="80%"></th>
              <th width="20%"></th>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Babergh</td>
                <td class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Basingstoke and Deane</td>
                <td class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Bedford</td>
                <td class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- section 'B' -->

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-m">
                C
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <table class="govuk-table">
              <thead class="govuk-table__head">
              <th width="80%"></th>
              <th width="20%"></th>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Cambridge</td>
                <td class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Castell-nedd Port Talbot - Neath Port Talbot</td>
                <td class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- section 'C' -->

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-m">
                D
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <table class="govuk-table">
              <thead class="govuk-table__head">
              <th width="80%"></th>
              <th width="20%"></th>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Dartford</td>
                <td class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Dover</td>
                <td class="govuk-table__cell"><a href="/public/files/RFI.csv" download>Download .gml</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- section 'D' -->

      </div> <!-- accordion -->
    </div> <!-- column-two-thirds -->
  </div> <!-- grid-row -->

{% endblock %}
