{% extends "layout.html" %}

{% block pageTitle %}
Use land and property
{% endblock %}

{% block content %}

{% include "beta-banner.html" %}

<!-- sign-in/create account links -->
<div class="govuk-body heading-nav">
    <a class="govuk-link" href="sign-in">Sign in</a>
    <a class="govuk-link" href="create-account/create-account" >Create account</a>
</div>

<!-- back to previous page -->
<a href="#" onclick="location.href = document.referrer; return false;" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Exploration licence</span>
            Restrictive Covenants
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
            Summary of use
        </h2>
        <ol class="govuk-list govuk-list--number">
            <li>
                <strong>This Licence</strong> (as defined in the Small Print) is dated _______________ 2020 and:
                <ol class="govuk-list govuk-list--alpha-dot">
                    <li>is <strong>free of charge</strong></li>
                    <li>
                        relates to HM Land Registry data that will include the Restrictive Covenant Dataset which comprises:
                        <ol class="govuk-list govuk-list--roman">
                            <li>Unique identifier</li>
                            <li>Tenure</li>
                            <li>Property description</li>
                            <li>County</li>
                            <li>Region</li>
                            <li>Associated Property Description ID and</li>
                            <li>Associated Property Description</li>
                        </ol>
                        that we make available specifically as data for research and development in accordance with
                        the terms of this Licence (the “<strong>Exploration Data</strong>”)
                    </li> <!-- 1 b. -->
                    <li>
                        <strong>does not affect any existing licence arrangements already in place</strong>. If you
                        have access to data under, for example, the terms of an Open Government Licence or a
                        commercial licence issued by a Partner Body, those licensing arrangements continue to apply
                    </li> <!-- 1 c. -->
                    <li>
                        lets you use Exploration Data for <strong>three months</strong>, from the date you download it
                    </li> <!-- 1 d. -->
                    <li>
                        lets you <strong>do any of the permitted actions we list below</strong>, so you can:
                        <ul class="govuk-list govuk-list--bullet-no-alpha">
                            <li>
                                evaluate Exploration Data to see if what we’re offering is what you need
                            </li>
                            <li>
                                use Exploration Data to research and develop your ideas and propositions. It doesn’t matter
                                if you’re not sure yet how Exploration Data might help you. For example, you may want to
                                assess it for a potential commercial opportunity or see what potential benefits and value
                                it could bring to you, helping you build your case for licensing Exploration Data for use
                                in your business or organisation under a separate, commercial licensing arrangement with us.
                                Note these research and development rights are subject to the provisions below regarding live
                                trials or tests
                            </li>
                            <li>
                                display Exploration Data or create working prototypes using Exploration Data to demonstrate
                                and promote on your own equipment how your ideas or propositions for using our data would
                                work, which is ideal if you’re talking to potential customers, agents, investors or other
                                financial backers. With our prior agreement, you can also provide prototypes for a short
                                time to any of these people on equivalent terms to this Licence solely to help them to make
                                a better assessment of your idea or proposition
                            </li>
                            <li>
                                use Exploration Data in live trials or tests within your business or organisation for up
                                to three months to determine whether you wish to license it
                                as an internal business aid immediately after your live trial
                            </li>
                            <li>
                                use small extracts of Exploration Data (to be agreed with HMLR in advance) in time-bound
                                events that promote collaboration and innovation, to provide better insight into specific
                                uses or develop ideas or answer particular questions, for example, as part of competitions,
                                hackathons and mash-ups
                            </li>
                            <li>
                                use small extracts of Exploration Data (to be agreed with HMLR in advance), to promote your
                                use of Exploration Data in articles and at events that intend to share or widen knowledge
                                (such as academic papers, trade journals or industry conferences)
                            </li>
                        </ul>
                    </li> <!-- 1 e. -->
                    <li>
                        is <strong>subject to all of the following Requirements listed below</strong> that you shall comply with:
                        <ul class="govuk-list govuk-list--bullet-no-alpha">
                            <li>
                                provide us with information about you and/or your company or organisation as requested
                                when you register to access Exploration Data so that we know who we are licensing to,
                                can communicate with you and understand what you are wanting to do
                            </li>
                            <li>
                                acknowledge that you’re using Exploration Data and that you’re doing so in the right
                                way. You cannot reproduce the HM Land Registry logo unless it forms an integral part
                                of the Exploration Data and you are reproducing it in that context
                            </li>
                            <li>
                                make sure any prototypes you provide or any Exploration Data you provide to third
                                parties is returned to you or destroyed within 7 days of the end of the assessment
                                or event. Tell us in advance if doing this might disrupt your longer-term plans and
                                we can discuss appropriate licensing
                            </li>
                            <li>
                                provide technological and security measures to make sure all Exploration Data supplied
                                to you is secure from any unauthorised use or access
                            </li>
                            <li>
                                maintain accurate, complete and detailed records relating to this Licence regarding
                                access to the Exploration Data by your staff (including unauthorised access and
                                information regarding any prototypes created) that shall be open to inspection and
                                for copies of any necessary records to be taken by us or our representatives upon request
                            </li>
                        </ul>
                    </li> <!-- 1 f. -->
                </ol>
            </li> <!-- 1 -->

            <li>
                <strong>Under this Licence you must not do the following in the restrictions below</strong>:
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        unless we expressly permit you to do so above, you will not:
                        <ol class="govuk-list govuk-list--alpha">
                            <li>
                                make any Exploration Data available to third parties; or
                            </li> <!-- 2 a) -->
                            <li>
                                create any products or services which have benefitted from, relied on or
                                made any use of Exploration Data (including, without limitation, where you have created
                                your products or services by copying, publishing, modifying, re-formatting, analysing
                                or performing searches, look ups or enquiries using Exploration Data); or
                            </li> <!-- 2 b) -->
                            <li>
                                publish, commercially exploit, sell, license or distribute the whole or any part
                                of the Exploration Data as a standalone licensed product or service;
                            </li> <!-- 2 c) -->
                            <li>
                                use the Exploration Data for the purposes of direct marketing including but not limited
                                to contacting registered proprietors to offer goods or services or to make other offers
                            </li> <!-- 2 d) -->
                        </ol>
                        You agree that, if you want to make Exploration Data available in any of the aforementioned
                        ways, you will tell us and will not proceed until we agree the basis on which that can happen
                    </li>
                    <li>
                        you shall not infringe or breach the intellectual property rights in the Exploration Data
                    </li>
                </ul>
            </li>
        </ol>

        <hr class="govuk-section-break govuk-section-break--l">
        <h2 class="govuk-heading-l">
            The Small Print
        </h2>
        <h3 class="govuk-heading-m">
            1. Parties
        </h3>
        <p class="govuk-body">
            This Licence is between HM Land Registry (acting by the Chief Land Registrar under delegated authority from
            The Keeper of Public Records) whose head office is Trafalgar House, 1 Bedford Park, Croydon, CR0 2AQ,
            (“<strong>we/us/our/HMLR</strong>”) and the person or organisation who downloads the Exploration Data
            (“<strong>you/your</strong>”). You and we are each a “<strong>party</strong>” and together the “<strong>parties</strong>”.
        </p>

        <h3 class="govuk-heading-m">
            2. Licence
        </h3>
        <ol class="govuk-list govuk-list--decimal2" start="2">
            <li>
                Subject to the restrictions and requirements referred to in this Licence, we grant you a
                non-exclusive, non-transferable, revocable licence to use Exploration Data for the relevant periods
                and for the Permitted Actions described in the Summary of Use.
            </li>
            <li>
                In consideration of the mutual obligations in this Licence, you agree to be bound by all of
                the terms and conditions in The Small Print and the Summary of Use, which forms the data
                exploration licence between you and us (the “Licence”).
            </li>
            <li>
                Please read all terms before accessing any Exploration Data so that you understand this Licence
                and what we agree you can and can’t do with Exploration Data.
            </li>
            <li>
                This Licence commences with effect from the date you download Exploration Data and ends 3 months
                from that date.
            </li>
        </ol>

        <h3 class="govuk-heading-m">
            3. Intellectual Property Rights
        </h3>
        <ol class="govuk-list govuk-list--decimal3" start="3">
            <li>
                We use Ordnance Survey and Royal Mail data in the preparation of the property addresses contained
                in the Exploration Data. Therefore, the terms of this Licence are by agreement with Ordnance
                Survey and Royal Mail. This does not affect the licence arrangements that are already in place
                for data other than the Exploration Data.
            </li>
            <li>
                The Crown or its licensors own all the intellectual property rights in Exploration Data. All
                rights not expressly granted are reserved to the Crown and its licensors.
            </li>
            <li>
                You shall notify us as soon as you become aware of, or suspect, any infringement or other
                breach by you or any other third party of the intellectual property rights in the Exploration
                Data. You agree to co-operate with us at no cost to provide all reasonable assistance in
                pursuing or dealing with any such infringement or breach.
            </li>
        </ol>

        <h3 class="govuk-heading-m">
            4. Feedback
        </h3>
        <p class="govuk-body">
            At our request, you will give us reasonable details about your intended use for Exploration Data
            under this Licence by whatever means we might reasonably request.
        </p>

        <h3 class="govuk-heading-m">
            5. No Warranty
        </h3>
        <p class="govuk-body">
            It is your responsibility to ensure that the Exploration Data you request is what you need.
            Exploration Data is provided ‘as is’ and without any warranty or condition express or implied,
            statutory or otherwise as to its quality or fitness for purpose. Except as expressly stated in this
            Licence, all conditions, warranties, terms and undertakings express or implied statutory or otherwise
            in respect of the Exploration Data are hereby excluded to the fullest extent permitted by law.
        </p>

        <h3 class="govuk-heading-m">
            6. Liabilities
        </h3>
        <ol class="govuk-list govuk-list--decimal6" start="6">
            <li>
                Subject to clause 6.2:
                <ol class="govuk-list govuk-list--alpha-dot">
                    <li>
                        neither party shall be liable to the other, whether in contract, tort (including negligence),
                        breach of statutory duty, or otherwise, for any loss of profit, or any indirect, special or
                        consequential loss or damage or any other financial loss (howsoever caused) arising as a
                        result of the use of, or lack of performance of the Exploration Data; and
                    </li>
                    <li>
                        there is nothing in this Licence that excludes or limits your liability for an infringement
                        or breach of our intellectual property rights.
                    </li>
                </ol>
            </li> <!-- 6.1 -->
            <li>
                Nothing in this Licence shall limit or exclude either party’s liability for:
                <ol class="govuk-list govuk-list--alpha-dot">
                    <li>death or personal injury caused by its negligence, or the negligence of its employees, agents
                        or subcontractors (as applicable);</li>
                    <li>fraud or fraudulent misrepresentation; or</li>
                    <li>any matter in respect of which it would be unlawful for either party to exclude or restrict
                        liability.
                    </li>
                </ol>
            </li> <!-- 6.2 -->
        </ol>

        <h3 class="govuk-heading-m">
            7. Termination
        </h3>
        <ol class="govuk-list govuk-list--decimal7" start="7">
            <li>
                Either party may terminate this Licence with immediate effect, by giving written notice to the
                other party. Termination or expiry of this Licence shall not affect either party’s accrued rights
                and remedies. On the termination or expiry of this licence you shall:
                <ol class="govuk-list govuk-list--alpha-dot">
                    <li>
                        immediately cease using the Exploration Data;
                    </li>
                    <li>
                        destroy (or at our option return) all Exploration Data under this Licence that you hold or
                        for which you are responsible including any Exploration Data that is embedded into any other
                        material and provide written confirmation that you have done so at our request; and
                    </li>
                    <li>
                        make sure anyone else you have supplied Exploration Data to under this Licence also adheres
                        to these conditions.
                    </li>
                </ol>
            </li>
            <li>
                Any provision that is expressly or by implication intended to survive the termination or expiry of
                this Licence shall continue in full force and effect.
            </li>
        </ol>

        <h3 class="govuk-heading-m">
            8. Data protection and privacy
        </h3>
        <ol class="govuk-list govuk-list--decimal8" start="8">
            <li>
                You shall comply with all relevant laws and regulations relating to the processing of personal
                data and privacy, including, without limitation any data protection legislation from time to time
                in force in the UK, including the Data Protection Act 2018.
            </li>
            <li>
                We shall comply with the terms of our
                <a href="https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter">
                    privacy policy</a>.
            </li>
        </ol>

        <h3 class="govuk-heading-m">
            9. Confidential
        </h3>
        <p class="govuk-body">
            Neither you, nor we, will disclose to any person (either during the term of this Licence or after), any
            information which might reasonably be considered to be confidential information belonging to the other
            party which is in its possession as a result of this Licence unless with the consent of the other party
            or due to a legal, governmental or regulatory requirement. You acknowledge that we are bound by the
            Freedom of Information Act 2000 and the Environment Information Regulations 2004 which may require us
            by law to disclose confidential information. You will provide such assistance, without charge, as we
            shall reasonably request to assist us to comply with this legislation.
        </p>

        <h3 class="govuk-heading-m">
            10. Other General Provisions
        </h3>
        <ol class="govuk-list govuk-list--decimal10" start="10">
            <li>
                This Licence sets out the entire agreement and understanding between you and us in respect of the
                subject matter of this Licence.
            </li> <!-- 10.1 -->
            <li>
                We may change any part of this Licence, including the availability of the Exploration Data, at any
                time with immediate effect for valid and legal reasons where reasonable circumstances dictate this.
                If you continue to access updates of any Exploration Data after any such change is made, you shall be
                deemed to have accepted the modified terms. If you do not wish to accept the modified terms, you must
                terminate this Licence by giving us written notice.  It is therefore recommended that you regularly
                access and review this Licence so that you are aware of the latest terms.
            </li><!-- 10.2 -->
            <li>
                Any notice under this Licence shall be effected when given:
                <ol class="govuk-list govuk-list--alpha-dot">
                    <li>by us to your e-mail address that you have provided to us; and</li>
                    <li>by you to <a href="data.services@mail.landregistry.gov.uk"> data.services@mail.landregistry.gov.uk</a>
                        or such other address as we may provide to you.
                    </li>
                </ol>
            </li> <!-- 10.3 -->
            <li>
                <ol class="govuk-list govuk-list--alpha-dot">
                    <li>You must not assign, transfer or sub-license your rights under this Licence to any other person.</li>
                    <li>We shall be entitled to assign, transfer or novate the benefits and obligations of this
                        Licence or any part thereof to:
                        <ol class="govuk-list govuk-list--roman">
                            <li>
                                any government body or any other body established by the Crown or under statute; or
                                in the event of the transfer of all or any of our activities or functions to any
                                other entity, to the entity to which our functions have been transferred; or
                            </li>
                            <li>
                                any private sector body which substantially performs the functions of us,
                            </li>
                        </ol>
                        provided that any such assignment, transfer or novation shall not increase the burden
                        of your obligations under this Licence.
                    </li>
                </ol>
            </li> <!-- 10.4 -->
            <li>
                Our failure to exercise or enforce any rights under the provisions of this Licence shall not be
                deemed to be a waiver of such rights at any time or times thereafter.
            </li> <!-- 10.5 -->
            <li>
                If any of the provisions of this Licence are invalid, illegal or unenforceable, that will not affect
                the validity, legality and enforceability of the remaining provisions of this Licence. Each of the
                paragraphs of these Licence terms operates separately. If any court or relevant authority decides
                that any of them are unlawful, the remaining paragraphs will remain in full force and effect.
            </li> <!-- 10.6 -->
            <li>
                This Licence shall not constitute or imply any partnership, joint venture, agency, fiduciary
                relationship or other relationship between the parties other than the contractual relationship
                expressly provided for in this Licence. Neither party to this Licence shall have, nor represent
                that it has, any authority to make any commitments on the other party’s behalf.
            </li> <!-- 10.7 -->
            <li>
                <ol class="govuk-list govuk-list--alpha">
                    <li>
                        Subject to clause 10.8(b), a person who is not a party to this Licence has no right as a
                        third party to enforce or enjoy the benefit of any term of this Licence.
                    </li>
                    <li>
                        You acknowledge the interest of Ordnance Survey and Royal Mail in relation to the Exploration
                        Data and the parties to this Licence hereby confer upon Ordnance Survey and Royal Mail the
                        right to enforce the terms of this Licence and pursue any claims pursuant to this Licence
                        as if it was HMLR.
                    </li>
                </ol>
            </li> <!-- 10.8 -->
            <li>
                This Licence is governed by English law and both parties agree to the exclusive jurisdiction of
                the English courts.
            </li> <!-- 10.9 -->
        </ol>
    </div> <!-- column-two-thirds -->
</div>


{% endblock %}
