{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}

<!-- back to previous page -->
<a href="#" onclick="location.href = document.referrer; return false;" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Company details
            </h1>
          </legend>

          <div class="govuk-form-group">
            <label class="govuk-label" for="comp-name">
              Name
            </label>
            <input class="govuk-input" id="comp-name" name="comp-name" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="comp-reg-no">
              Company registration number
            </label>
            <span class="govuk-hint">You can find this number on GOV.UK.<br>
              It has either:<br>
              <ul class="govuk-hint govuk-list govuk-list--bullet">
                <li>8 numbers</li>
                <li>2 letters and 6 numbers</li>
              </ul>
            </span>
            <input class="govuk-input govuk-!-width-two-thirds" id="comp-reg-no" name="comp-reg-no" type="text">
          </div>

        </fieldset>
      </div>

      <a href="company-address" role="button" class="govuk-button">
        Continue
      </a>
    </form>

  </div>
</div>



{% endblock %}