{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}
{% include "beta-banner.html" %}

<!-- back to previous page -->
<a href="#" onclick="location.href = document.referrer; return false;" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/uk-org-research" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Would you like to take part in research for new datasets in this service?
            </h1>
          </legend>
          <p class="govuk-body-l govuk-inset-text">
            We will not give or sell your data to any third party. We’ll anonymise data in any published research.
            You can opt out at any time.
          </p>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="uk-org-research" name="uk-org-research" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="uk-org-research">
               Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="uk-org-research-2" name="uk-org-research" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="uk-org-research-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>



{% endblock %}