{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}

<!-- back to previous page -->
<a href="#" onclick="location.href = document.referrer; return false;" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/live-in-uk" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you live in the UK?
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="live-in-uk" name="live-in-uk" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="live-in-uk">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="live-in-uk-2" name="live-in-uk" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="live-in-uk-2">
                No
              </label>
            </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>



{% endblock %}