{% extends "layout.html" %}

{% block pageTitle %}
  Use land and property data
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
              <span class="govuk-caption-xl">Prototypes</span>
              Use land and property data
          </h1>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <!-- sprint 3 version -->
          <h2 class="govuk-heading-l"> Sprint 3</h2>
          <h3 class="govuk-heading-m">
              Version 3
          </h3>
          <p class="govuk-body">
              <a href="version-3/listings" class="govuk-link">Not signed in</a><br>
              Shows the listings page as a not signed in view.
          </p>
          <p class="govuk-body">
              <a href="version-3/listings-signed-in" class="govuk-link">Signed in</a><br>
              Shows the tabbed view with my datasets as the default tab, as a user who has downloaded previous data,
              agreed a licence and has daily application data available. There are 3 scenarios(or combination of) in
              which my datasets will be shown:<br>
              - <a href="version-3/my-datasets-1">first time returning user (only viewed once!)</a><br>
              - <a href="version-3/my-datasets-2">user has agreed a licence, but not yet downloaded a dataset</a><br>
              - <a href="version-3/my-datasets-3">user has downloaded data previously</a>
          </p>

          <h4 class="govuk-heading-s">Changes made:</h4>
          <ul class="govuk-list govuk-list--bullet">
              <li>Updated listings page.</li>
              <li>Added Kahootz link (need Joanne to provide content!).</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l">

          <h3 class="govuk-heading-m">
              Version 2.1
          </h3>
          <p class="govuk-body-l">
              Currently not known what format the listings page will be in. Will update once feedback from UR is known.
          </p>
          <p class="govuk-body">
              <a href="version-2-1/listings" class="govuk-link">Not signed in</a><br>
              Shows the listings page as a not signed in view.
          </p>
          <p class="govuk-body">
              <a href="version-2-1/listings-signed-in" class="govuk-link">Signed in</a><br>
              Shows the tabbed view with my datasets as the default tab, as a user who has downloaded previous data,
              agreed a licence and has daily application data available.
          </p>

          <h4 class="govuk-heading-s">Changes made:</h4>
          <ul class="govuk-list govuk-list--bullet">
              <li>Added links for downloading licences and terms of use on those pages.</li>
              <li>Added information to the <a href="version-2-1/request-download">download page for RfI</a>
                  reminding users of the OGL.</li>
              <li>Added sign in screens.</li>
              <li>Added the <a href="dst/dst-application">application screen for DST</a> for them to change the
                  contact preferences.</li>
              <li>Amended the button caption on the final screens within the create account flows.</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <!-- sprint 2 version -->
          <h2 class="govuk-heading-l"> Sprint 2</h2>

          <h3 class="govuk-heading-m">
              Version 2
          </h3>
          <p class="govuk-body-l">
              Currently not known what format the listings page will be in. Will update once feedback from UR is known.
          </p>
          <p class="govuk-body">
              <a href="version-2/listings" class="govuk-link">Not signed in</a><br>
              Shows the listings page as a not signed in view. Contains ability to create an account.
          </p>
          <p class="govuk-body">
              <a href="version-2/listings-signed-in" class="govuk-link">Signed in</a><br>
              Shows the tabbed view with my datasets as the default tab, as a user who has downloaded previous data,
              agreed a licence and has daily application data available. Contains ability to create an account.
          </p>

          <h4 class="govuk-heading-s">Changes made: (5.12.2019)</h4>
          <ul class="govuk-list govuk-list--bullet">
              <li>Added signed in version of NPS product page.</li>
              <li>Added the <a href="version-2/sample-nps-licence" class="govuk-link">NPS sample data licence</a>.</li>
              <li>Added all the technical specifications for the NPS datasets.</li>
              <li>
                  Amended the My datasets tab so that it includes how it would appear when the sample data for
                  NPS is available for download. <strong>N.B.</strong> This may need to be reviewed.
              </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l">


          <h3 class="govuk-heading-m">
              User research session
          </h3>
          <p class="govuk-body">
              <strong>Prototype A</strong>: with all the datasets listed on the product page: <br>
              <a href="ur-session1/listingsA" class="govuk-link">Not signed in</a><br>
              <a href="ur-session1/listings-signed-inA" class="govuk-link">Signed in</a>
          </p>
          <p class="govuk-body">
              <strong>Prototype B</strong>: with the datasets we host listed on the product page, and others in related content: <br>
              <a href="ur-session1/listingsB" class="govuk-link">Not signed in</a><br>
              <a href="ur-session1/listings-signed-inB" class="govuk-link">Signed in</a>
          </p>

          <hr class="govuk-section-break govuk-section-break--l">

          <h3 class="govuk-heading-m">
              Version 1.4
          </h3>
          <p class="govuk-body">
              <a href="version-1-4/listings" class="govuk-link">Not signed in</a><br>
              Shows the listings page as a not signed in view. Contains ability to create an account.
          </p>
          <p class="govuk-body">
              <a href="version-1-4/listings-signed-in" class="govuk-link">Signed in</a><br>
              Shows the tabbed view with my datasets as the default tab, as a user who has downloaded previous data,
              agreed a licence and has daily application data available. Contains ability to create an account.
          </p>
          <h4 class="govuk-heading-s">Changes made:</h4>
          <ul class="govuk-list govuk-list--bullet">
              <li>Amended check your answer pages across all flows so that the columns in the tables are the same.</li>
              <li>
                  Added three versions of the may datasets tab to show the wording for different scenarios:<br>
                  - <a href="my-datasets-1">first time returning user (only viewed once!)</a><br>
                  - <a href="my-datasets-2">user has agreed a licence, but not yet downloaded a dataset</a><br>
                  - <a href="my-datasets-3">user has downloaded data previously</a>
              </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l">

          <h3 class="govuk-heading-m">
              Version 1.3
          </h3>
          <p class="govuk-body">
              <a href="version-1-3/listings" class="govuk-link">Not signed in</a><br>
              Shows the listings page as a not signed in view. Contains ability to create an account, the
              request for information flow and other product pages.
          </p>
          <p class="govuk-body">
              <a href="version-1-3/listings-signed-in" class="govuk-link">Signed in</a><br>
              Shows the tabbed view with my datasets as the default tab. Contains ability to create an account, the
              request for information flow and other product pages.
          </p>
          <h4 class="govuk-heading-s">Changes made:</h4>
          <ul class="govuk-list govuk-list--bullet">
              <li>Added a call to action on the NPS product page, for consistency.</li>
              <li>Removed row count from the listings page.</li>
              <li>Added licence for OCOD.</li>
              <li>Updated CCOD product page and added the technical specification and licence.</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l">

          <h3 class="govuk-heading-m">
              Version 1.2
          </h3>
          <p class="govuk-body">
              <a href="version-1-2/listings" class="govuk-link">Not signed in</a><br>
              Shows the listings page as a not signed in view. Contains ability to create an account, the
              request for information flow and other product pages.
          </p>
          <p class="govuk-body">
              <a href="version-1-2/listings-signed-in" class="govuk-link">Signed in</a><br>
              Shows the tabbed view with my datasets as the default tab. Contains ability to create an account, the
              request for information flow and other product pages.
          </p>
          <h4 class="govuk-heading-s">Changes made:</h4>
          <ul class="govuk-list govuk-list--bullet">
              <li>Updated the listings page.</li>
              <li>Updated content on the Request for information product, download and technical specification pages.</li>
              <li>Added a <a href="version-1-2/listings-signed-in" class="govuk-link">signed in view</a>, with a
                  new version of the 'My datasets' tab.</li>
              <li>Added <a href="version-1-2/overseas-product">product</a> and <a href="version-1-2/overseas-tech-spec">technical specification</a>
                  pages for the overseas dataset.</li>
              <li>Ensured that external links are opened in a new tab.</li>
              <li>Added the <a href="version-1-2/request-view">online view</a> for the request for information data. Ideally I would
                  like it so that the heading row would 'stick', so that the titles for each column would be seen as you
                  scroll down the table. I couldn't work out how to do that!</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l">

          <h3 class="govuk-heading-m">
              <a href="version-1-1/listings" class="govuk-link">Version 1.1</a>
          </h3>
          <p class="govuk-body">
              This version only contain ability to create an account, and the request for information flow. The listings page
              is only shown as a not signed in view.
          </p>
          <h4 class="govuk-heading-s">Changes made:</h4>
          <ul class="govuk-list govuk-list--bullet">
              <li>Amended the check your answers page for each flow to include the answers to the research options.</li>
              <li>Updated the content on the confirmation page of all create account flows.</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <!-- sprint 1 version -->
          <h2 class="govuk-heading-l"> Sprint 1</h2>
          <h3 class="govuk-heading-m">
            <a href="version-0-1/listings" class="govuk-link">Version 1</a>
          </h3>
          <p class="govuk-body">
            This version only contain ability to create an account, and the request for information flow. The listings page
            is only shown as a not signed in view.
          </p>
          <h4 class="govuk-heading-s">Changes made:</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>New style of listings page with the value for each piece of information in bold.</li>
            <li>Added request for information flow. <strong>N.B.</strong> As this is OGL, it will not show on the 'My datasets' tab.</li>
            <li>The new <a href="version-0-1/create-account/create-account">create account</a> flows have been added.</li>
          </ul>
      </div>


      <!-- Column-one-third for other links -->
      <div class="govuk-column-one-third">
          <hr class="blue-bar">
          <h3 class="govuk-heading-m">Other bits</h3>
          <p class="govuk-body">
              <a href="email/email-list" class="govuk-link">
                  Content for emails
              </a>
          </p>
          <p class="govuk-body">
              <a href="dst/dst-application" class="govuk-list">
                  DST Application information
              </a>
          </p>
      </div>
  </div>


      <!-- Version 0.1 of public beta -->
<!--      <h2 class="govuk-heading-m">Version 0.1</h2>
      <h3 class="govuk-heading-s">
        <a href="version-0-1/listings" class="govuk-link">Option 1</a>
      </h3>
      <p>
        On the listings page the value for each piece of information are emboldened.<br>
        The original blue box product page with re-vamped content.
        <!-- On the product page the contents are on the left and copy all on the same page. -->
<!--      </p>

      <h3 class="govuk-heading-s">
        <a href="version-0-1/listings-op2" class="govuk-link">Option 2</a>
      </h3>
      <p>
        On the listings page the label for each piece of information are emboldened.<br>
        On the product page the contents are on the top and copy on 'slideys'.
      </p>

      <h3 class="govuk-heading-s">Changes made:</h3>
      <ul class="govuk-list">
        <li>Created two new versions of the listings page to remove the pill boxes.</li>
        <li>Created a new version of the product pages.</li>
        <li>Added request for information flow. <strong>N.B.</strong> As this is OGL, it will not show on the 'My datasets' tab.</li>
        <li>The new <a href="version-0-1/create-account/create-account">create account</a> flows were added.</li>
      </ul>
    </div>
  </div>
-->


{% endblock %}
