{% extends "layout.html" %}

{% block pageTitle %}
  Use land and property data
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
              <span class="govuk-caption-xl">Prototypes</span>
              Use land and property data
          </h1>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <!-- sprint 2 version -->
          <h2 class="govuk-heading-m"> Sprint 2</h2>
          <h3 class="govuk-heading-s">
              <a href="version-1-1/listings" class="govuk-link">Version .1</a>
          </h3>
          <p class="govuk-body">
              This version only contain ability to create an account, and the request for information flow. The listings page
              is only shown as a not signed in view.
          </p>

          <h3 class="govuk-heading-s">Changes made:</h3>
          <ul class="govuk-list">
              <li>Amended the check your answers page for each flow to include the answers to the research options.</li>
              <li>Updated the content on the confirmation page of all create account flows.</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <!-- sprint 1 version -->
          <h2 class="govuk-heading-m"> Sprint 1</h2>
          <h3 class="govuk-heading-s">
            <a href="version-0-1/listings" class="govuk-link">Version 1</a>
          </h3>
          <p class="govuk-body">
            This version only contain ability to create an account, and the request for information flow. The listings page
            is only shown as a not signed in view.
          </p>

          <h3 class="govuk-heading-s">Changes made:</h3>
          <ul class="govuk-list">
            <li>New style of listings page with the value for each piece of information in bold.</li>
            <li>Added request for information flow. <strong>N.B.</strong> As this is OGL, it will not show on the 'My datasets' tab.</li>
            <li>The new <a href="version-0-1/create-account/create-account">create account</a> flows have been added.</li>
          </ul>
      </div>


      <!-- Column-one-third for other links -->
      <div class="govuk-column-one-third">
          <hr class="blue-bar">
          <h3 class="govuk-heading-m">Useful stuff</h3>
          <p class="govuk-body">
              <a href="email/email-list" class="govuk-link">
                  Content for emails
              </a>
          </p>
      </div>
  </div>


      <!-- Version 0.1 of public beta -->
<!--      <h2 class="govuk-heading-m">Version 0.1</h2>
      <h3 class="govuk-heading-s">
        <a href="version-0-1/listings" class="govuk-link">Option 1</a>
      </h3>
      <p>
        On the listings page the value for each piece of information are emboldened.<br>
        The original blue box product page with re-vamped content.
        <!-- On the product page the contents are on the left and copy all on the same page. -->
<!--      </p>

      <h3 class="govuk-heading-s">
        <a href="version-0-1/listings-op2" class="govuk-link">Option 2</a>
      </h3>
      <p>
        On the listings page the label for each piece of information are emboldened.<br>
        On the product page the contents are on the top and copy on 'slideys'.
      </p>

      <h3 class="govuk-heading-s">Changes made:</h3>
      <ul class="govuk-list">
        <li>Created two new versions of the listings page to remove the pill boxes.</li>
        <li>Created a new version of the product pages.</li>
        <li>Added request for information flow. <strong>N.B.</strong> As this is OGL, it will not show on the 'My datasets' tab.</li>
        <li>The new <a href="version-0-1/create-account/create-account">create account</a> flows were added.</li>
      </ul>
    </div>
  </div>
-->


{% endblock %}
